.fliter-header {
    background-color:#28a745; 
    /* transition: all 2s; */
}

.filter-my-nav-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-my-nav-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-logo {
    position: relative;
    left: 1.5%;
}

.filter-hidden {
    display: none;
}

.btn-dropdown-feature {
    background-color: none !important;
    background-color: #121212 !important;
    border-color: #121212 !important;
    color: white !important;
    /* z-index: 99; */
}

.filter-dropdown {
    min-width: auto !important;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    left: 0px;
    top: 40px;
}

.filter-form-input-search {
    width: 70%;
    /* float: right; */
    /* margin-left: 10%; */
}

.filter-input-search {
    padding-left: 33px;
    border-radius: 10px !important;
}
.filter-form{
    color:white;
    border-radius:0;
    margin:1vw 1vw 0 1vw;
    width:100%; 
}

.my-input-group {
    width: 20vw;
}

.filter-search-auth {
    display: flex;
    margin: 10px;
}

.icon{
    width: 2vh;
    height: 2vh;
    top: 44%;
    left:4%;
    position: absolute; 
    z-index: 2;
}
 
.search-icon {
    width: 2vh;
    height: 2vh;
    top: 44%;
    position: absolute;
    right: 3%;
    z-index: 2;
}

.filter-btn-navbar {
    /* position: absolute; */
    right: 1%;
}

@media (max-width: 991px) {
    .filter-form-input-search {
        width: 100vw;
    }
    .filter-logo {
        width: 100vw;
    }
}